<h1> Sign In </h2>
<form class="login-form" action="/session" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label> Username
    <input name="user[username]" type="text" class=""><br>
  </label><br>
  <label>
  <label> Password
    <input name="user[password]" type="password" class=""><br>
  </label><br>
  <input type="submit" value="Submit" class=""><br>
</form>