
<div class="box">
  <%= render partial: "layouts/errors" %>
  <div class="welcome-wrapper">
    <div class="splash-sign-up"> Log in!</div>
    <div class="welcome-message"> Welcome back meow.</div>
    <form class="login-form" action="/session" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input name="user[username]" type="text" class="custom-login username-input" value="Username"><br>
        <input name="user[password]" type="password" class="custom-login password-input" value="Password"><br>
      <input type="submit" value="Submit" class="btn btn-success custom-login">
    </form>
    <form class="login-form guest-log-in" action="/session" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="user[username]" value="isis">
    <input type="hidden" name="user[password]" value="meowmeow">
    <input type="submit" value="Guest Login" class="btn btn-primary custom-login">
    </form>
  </div>
</div>
<%= render partial: "layouts/bg" %>