<head>
	<link rel="stylesheet" href="http://css-spinners.com/css/spinner/ball.css" type="text/css">
</head>

<div class='container explore-page'>
<h4> <i class="fa fa-globe"></i>  Recently Added Photos </h4>
	<div class="row explore-row">
	</div>
		<div id='loading' class="ball">
		</div>
</div>