<div class="likes"> 
	<% if (collection.length === 1){ %>
		1 person likes this!
	<% } else if (collection.length > 1){ %>
		<%= collection.length %> people like this!
	<%} else {%>
		Be the first to like this!
	<%}%>
 </div>