<div class="likes"> 
	<% if (collection.length > 0){ %>
		<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
		<%= collection.length%> people like this post.
	<%} else {%>
		<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
		No one likes your post :(
	<%}%>
 </div>