<div class="likes"> 
	<% if (collection.length > 0){ %>
		<i class="fa fa-heart"> </i>
		<%= collection.length%> people like this post.
	<%} else {%>
		<i class="fa fa-heart"></i>
		No one likes your post :(
	<%}%>
 </div>