
<div class="likes list-group-item"> 
	<div class="timelineLikeButton">Like</div>
	<% if (collection.length > 0){ %>
		<%= collection.length%> people like this post.
	<%} else {%>
		No one likes your post :(
	<%}%>
 </div>