
<div class="likes list-group-item"> 
	<i class="fa fa-heart"></i>
	<% if (collection.length > 0){ %>
		<%= collection.length%> people like this post.
	<%} else {%>
		No one likes your post :(
	<%}%>
 </div>