<div class="edit-profile-div">
	<div class="container list-group-item edit-prof">
		<h2 class="edit-profile-header"> Edit Profile </h2>
		<form role="form">
		  <div class="form-group">
		    <label for="username-input">Username:</label>
		    <input type="text" class="form-control" name="user[username]" id="username-input" placeholder="Enter username">
		  </div>
			<div class="form-group">
		    <label for="location-input">Location:</label>
		    <input type="string" class="form-control" name="user[location]" id="location-input" placeholder="Enter location">
		  </div>
		  <div class="form-group">
		    <label for="bio-input">Bio:</label>
		    <textarea maxlength="100"  class="form-control desc-input" name="user[bio]" id="bio-input" placeholder="Tell us about yourself..."></textarea>
		  </div>
		    <div id="chars">You have 100 characters remaining!</div>
		  <button type="submit" class="edit-prof-btn">Submit</button>
		</form>
	</div>
</div>