<div class="edit-profile-div">
	<div class="container">
		<form role="form">
		  <div class="form-group">
		    <label for="username-input">Username</label>
		    <input type="email" class="form-control" id="username-input" placeholder="Enter username">
		  </div>
		  <div class="form-group">
		    <label for="bio-input">Description</label>
		    <input type="text" maxlength="100"  class="form-control desc-input" id="bio-input" placeholder="Write a short bio...">
		  </div>
		    <div id="chars">You have 100 characters remaining!</div>
		  <button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</div>