<header class="clearfix feed-header" data-role="banner">
  <% if (photos.length > 0){ %>
    <div class="compWrapper">
        <div class="compInnerWrapper">
            <div class="compContainer" id="cycler1">
            <% var counter = 1 %>
            <% photos.each(function(photo){ %>
            <% if (counter < 8){ %>
            <div class="compPhoto compPhoto<%= counter%>"> <a href="#photos/<%= photo.escape("id")%>">
                        <div class="Image iWithTransition header-photo">
                            <img src="<%= photo.escape('url') %>" class="img-responsive" />
                            <b class="compPhotoShadow"></b>
                        </div>
                    </a>
            </div>
            <% } %>
            <% counter += 1 %>
            <%});%>
            </div>
        </div>
    </div>
    <% } else { %>
    <img src="http://media-cache-ec0.pinimg.com/736x/f5/45/aa/f545aa7b6b16f2bd9cdbe6ffe1a0c896.jpg">
    <% } %>
</header>
