<header class="clearfix feed-header" data-role="banner">
  <% if (photos.length > 0){ %>
    <div class="compWrapper">
        <div class="compInnerWrapper">
            <div class="compContainer" id="cycler1">
            <% var counter = 1 %>
            <% photos.each(function(photo){ %>
            <% if (counter < 8){ %>
            <div class="compPhoto compPhoto<%= counter%>"> <a href="#photos/<%= photo.escape("id")%>">
                        <div class="Image iWithTransition">
                            <img src="<%= photo.escape('filepicker_url') %>" class="img-responsive" />
                            <b class="compPhotoShadow"></b>
                        </div>
                    </a>
            </div>
            <% } %>
            <% counter += 1 %>
            <%});%>
            </div>
        </div>
    </div>
    <% } else { %>
    <img src="http://media-cache-ec0.pinimg.com/736x/f5/45/aa/f545aa7b6b16f2bd9cdbe6ffe1a0c896.jpg">
    <% } %>
</header>

<script>
    function cycleImages(container){
      var $active = container.find('.active');
      var $next = ($active.next().length > 0) ? $active.next() : container.find('img:first');
      $next.css('z-index',2);//move the next image up the pile
      $active.fadeOut(1500,function(){//fade out the top image
      $active.css('z-index',1).show().removeClass('active');//reset the z-index and unhide the image
          $next.css('z-index',3).addClass('active');//make the next image the top one
      });
}

$(document).ready(function(){
    setInterval(function(){cycleImages($('#cycler1'))}, 2000);
    setInterval(function(){cycleImages($('#cycler2'))}, 3000);
})
</script>
