<form class='new-comment'>
  <div class="form-group">
    <input type="comment" name="comment[body]" class="form-control" placeholder="Write a comment...">
  </div>
  <input type="hidden" name="comment[photo_id]" value="<%= photo.id %>">
</form>





