<div class="comment">
	<img class='comment-profile-photo' src='<%= comment.escape('profile_pic')%>'>
	<%= comment.escape("body") %>

	<% if (comment.escape("user_id") == CURRENT_USER_ID){ %>
		<div data-id="<%= comment.escape("id")%>" class='delete-comment'><button class='delete-cmt'>x</button></div>
	<% } %>
</div>