<a href='#users/<%= user.id%>'>
	<div class="author-display-pane" data-id='<%= user.id%>'> 
		<img class='profile-photo img-circle' src="<%= user.get('profile_photo') %>"><br>
		<span class='author-username'><%= user.escape("username") %></span>
	</div>
</a>
