

<div class="new-photo">
  <div id='editor-main'>

    <div id='editor'>
    </div>

    <div id='file-upload-wrapper'>
      <div id='file-upload'>
      </div>
      <div id='local-drop-result'>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
(function(a){if(window.filepicker){return}var b=a.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===a.location.protocol?"https:":"http:")+"//api.filepicker.io/v1/filepicker.js";var c=a.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d={};d._queue=[];var e="pick,pickMultiple,pickAndStore,read,write,writeUrl,export,convert,store,storeUrl,remove,stat,setKey,constructWidget,makeDropPane".split(",");var f=function(a,b){return function(){b.push([a,arguments])}};for(var g=0;g<e.length;g++){d[e[g]]=f(e[g],d._queue)}window.filepicker=d})(document);
</script>
<script>

filepicker.setKey("Ao7feED0vTQpo2ZBCV7nZz");

filepicker.makeDropPane($('#file-upload')[0], {
  dragEnter: function() {
    $("#file-upload").html("Drop to upload").css({
      'backgroundColor': "#E0E0E0",
      'border': "1px solid #000"
    });
  },
  
  dragLeave: function() {
    $("#file-upload").html("Drop files here").css({
      'backgroundColor': "#F6F6F6",
      'border': "1px dashed #666"
    });
  },
  onSuccess: function(Blobs) {
    $("#file-upload").text("Done, see result below");
    $("#local-drop-result").text(JSON.stringify(Blobs));
  },
  onError: function(type, message) {
    $("#local-drop-result").text('('+type+') '+ message);
  },
  onProgress: function(percentage) {
    $("#file-upload").text("Uploading ("+percentage+"%)");
  }
});

</script>