<div class="new-photo">
  <div id='editor-main'>
    <div id='file-upload-wrapper'>
      <div id='file-upload' class='filepicker_dragdrop'>
        Drop Photos Here!
      </div>
      <div id='local-drop-result'>
      </div>

    </div>

  </div>
</div>
