
<div id='editor-main'>
  <div id='editor'></div>

  <form id='editor-form' role='form' action='#'>
    <div id='file-upload-wrapper'>
      <div id='file-upload'>
      </div>
      <input id='file-source' type='file' accept='image/*'>
    </div>

    <button id='upload' class='btn btn-default'>Upload</button>
    <button id='cancel' class='btn btn-default pull-right'>Cancel</button>
  </form>
</div>