
<div id='editor-main'>
  <form id='editor-form' role='form' action='#'>
    <div class='upload-wrapper'>
      <div id='file-upload'>
      </div>
      <input id='file-source' type='file' accept='image/*'>
      <button id='cancel' class='btn btn-default'>Cancel</button>
      <button id='upload' class='btn btn-default'>Upload</button>

    </div>
  <div id='editor'><img src='http://imagizer.imageshack.us/a/img537/5251/zJwG5T.png'></div>
  </form>
</div>