<div class="new-photo-wrapper list-group-item">
<h1>Create Photo</h1>

<form class="photo-form">

  <label>
    Upload Photo
    <input type="file" name="photo[filepicker_url]" id="photo-file-input">
  </label>

  <canvas class="preview">

  </canvas>

  <img src="" id="photo-image-preview">
  <br>

  <button>Post</button>

</form>

<div class="photo-loading">
  <img src="">
</div>
</div>