<div class="new-photo-wrapper list-group-item">
<h1>Upload Photo</h1>

<form class="photo-form">

  <label>
    Photo
    <input type="file" name="photo[filepicker_url]" id="photo-file-input">
  </label>


  <img src="" id="photo-image-preview">

  <br>

  <button>Upload</button>

</form>

<div class="photo-loading">
  <img src="">
</div>
</div>