
<div class="list-group-item photo-stats">

<div class="like-heart"></div>
<div class="feed-item-favorite-bar">

		<nav class='options-drop actions-btn' id="primary_nav_wrap">
			<ul>
		  <li class='nav-opts'><a href="#"><span class='dots'>...</span></a>
		    <ul>
		      <li id='profile-photo-btn'><a href="#">Set as Profile Photo</a></li>
		      <li id='delete-photo-btn'><a href="#">Delete</a></li>
		     </ul>
		 	</ul>
		</nav>
  
	<button class='like-btn'>
		<% if (photo.get('liked')){ %>
				<i class="fa fa-heart red"></i>
		<% } else {%>
				<i class="fa fa-heart"></i>
		<% } %>
	</button>
	
	<div class="photo-likes">
	</div>

</div>


	<div class="photo-comments">
	</div>

	<div class="comment-form">
	</div>
</div>

