
<div class="list-group-item photo-stats">
<div class="like-heart"></div>
<div class="feed-item-favorite-bar">
	
	<div class="like-button">
		<i class=" fav-btn fa fa-heart"></i>
	</div>
	
	<div class="photo-likes">
	</div>

</div>


	<div class="photo-comments">
	</div>

	<div class="comment-form">
	</div>
</div>

