
<div class='stat-pane photo-pane list-group-item'>Photos<br> <span class="count">100</span>
</div>

<div class='stat-pane followers-pane list-group-item'>Followers<br> <span class="count">50</span>
</div>

<div class='stat-pane following-pane list-group-item'>Following<br> <span class="count">130</span>
</div>