<div class="photo-show">
	<div class="photo-wrapper">
		<div class="photo-author-photo"></div>
		<img class= 'feed-photo-img' src="<%= photo.get('filepicker_url') %>">
		<%= photo.get("caption") %>
		<div class="photo-details"></div>

	</div>
</div>