
<div class="singular-photo-wrapper">
	<div class="photo-display list-group-item">
		<img class= 'feed-photo-img ind-page' src="<%= photo.escape('url') %>">

		<div class="comment-details-pane list-group-item">
			<div class='author-details'>

				Posted by <a href='#users/<%= photo.escape("user_id")%>'><%= photo.escape('user_username') %></a> <%= photo.escape('time_ago') %> ago.
			</div>

			<div class="photo-comments">
			</div>

		<div class="private-pane">
			<div class="like-button">
				<% if (photo.get('liked')){ %>
						<i class="fav-btn fa fa-heart red"></i>
				<% } else {%>
						<i class="fav-btn fa fa-heart"></i>
				<% } %>
			</div>

		<nav class='options-drop actions-btn' id="primary_nav_wrap">
			<ul>
		  <li class='nav-opts'><a href="#">...</a>
		    <ul>
		      <li id='profile-photo-btn'><a href="#">Set As Profile Photo</a></li>
		      <li id='delete-photo-btn'><a href="#">Delete</a></li>
		     </ul>
		 	</ul>
		</nav>

			<div class="like-heart">
			</div>
			<div class="photo-likes photo-show-likes">
			</div>
			
		</div>
		<div class="comment-form comment-form-photo-show"></div>
		</div>

		<div class="author-options">
		</div>
	</div>
</div>