<div class="singular-photo-wrapper">
	<div class="photo-display list-group-item">
		<img class= 'feed-photo-img ind-page' src="<%= photo.get('filepicker_url') %>">
		<div class="comment-details-pane list-group-item">
			<div class="photo-comments">
			</div>
		<div class="private-pane">

			<div class="like-button">
				<% if (photo.get('liked')){ %>
						<i class="fav-btn fa fa-heart red"></i>
				<% } else {%>
						<i class="fav-btn fa fa-heart"></i>
				<% } %>
			</div>

			<div class="like-heart">
			</div>
			<div class="photo-likes photo-show-likes">
			</div>

		</div>
		<div class="comment-form comment-form-photo-show"></div>
		</div>

		<div class="author-options">
		<% if (photo.get("user_id") === CURRENT_USER_ID){ %>
			<button class='delete-photo-btn'> Delete </button>
			<button class='profile-photo-btn'> Make Profile Photo</button>
		<% } %>
		</div>
	</div>
</div>