<div class="singular-photo-wrapper">
	<div class="photo-display list-group-item">
	<img class= 'feed-photo-img' src="<%= photo.get('filepicker_url') %>">
	<div class="comment-details-pane list-group-item">
	</div>
		<div class="author-options">
		<button class='delete-photo-btn'> Delete </button>
		<a class='back-link' href='#'> Back to gallery </a>
		</div>
	</div>


</div>