<style>
html,body {
    background: url(http://th04.deviantart.net/fs70/PRE/f/2012/224/5/6/cute_cat_wallpaper_hd_by_alexandruiuilian-d5aslq1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}
</style>

<div class="box">
  <%= render partial: "layouts/errors" %>
  <div class="welcome-wrapper">
    <div class="splash-sign-up"> New Users</div>
    <div class="welcome-message"> The purrfect image, just clicks away.</div>
    <form class="login-form" action="/users" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input name="user[username]" type="text" class="custom-login username-input" value="Username"><br>
        <input name="user[email]" type="text" class="custom-login email-input" value="Email"><br>
        <input name="user[password]" type="password" class="custom-login password-input" value="Password"><br>
      <input type="submit" value="Submit" class="guest-login-button custom-login"><br>
    </form>
  </div>
</div>
