<h1> Sign Up </h2>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label> Username
    <input name="user[username]" type="text" class="custom-login email-input"><br>
  </label><br>
  <label>
  <label> Email
    <input name="user[email]" type="text" class=""><br>
  </label><br>
  <label> Password
    <input name="user[password]" type="password" class=""><br>
  </label><br>
  <input type="submit" value="Submit" class=""><br>
</form>