.explore-page{
	margin-top:55px;
}

.explore-photo{
	height:140px;
	width:140px;
	margin:5px;
	border:8px solid white;
}

.explore-row{
	margin-top:-5px;
	padding-top:10px !important;
	padding-bottom:13px;
	padding-right: 7px;
}

#loading{
	position:relative;
	left:300px;
}

.redirect-user{
	position:relative;
	width:700px;
	margin: 0 auto;
	height:auto;
	font-size: 1.4em;
	color: inherit;
	text-align:center;
}

.greeting-logo{
	width:130px;
	height: 130px;
}

.throbber{
	left:50%;
}

.index-spinner {
  position: absolute;
	top:50px;
  left: 50%;
  margin-left: -21.5px;
  margin-top: -21.5px;
  width: 40px;
  height: 40px;
  border-radius: 80px;
  border: 3px solid transparent;
  border-left-color: rgba(90, 126, 150, 0.2);
  border-right-color: rgba(90, 126, 150, 0.2);
  -webkit-animation: spinnit 1s linear infinite;
          animation: spinnit 1s linear infinite;
}

.index-spinner:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 30px;
  border-radius: 60px;
  border: 3px solid transparent;
  border-left-color: rgba(90, 126, 150, 0.5);
  border-right-color: rgba(90, 126, 150, 0.5);
  -webkit-animation: spinnit 0.5s linear infinite reverse;
          animation: spinnit 0.5s linear infinite reverse;
}

.index-spinner:before {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  width: 20px;
  height: 20px;
  border-radius: 40px;
  border: 3px solid transparent;
  border-left-color: rgba(90, 126, 150, 0.8);
  border-right-color: rgba(90, 126, 150, 0.8);
}

@-webkit-keyframes spinnit {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinnit {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}