.explore-page{
	margin-top:55px;
}

.explore-photo{
	height:140px;
	width:140px;
	margin:5px;
	border:8px solid white;
}

.explore-row{
	margin-top:-5px;
	padding-top:10px !important;
	padding-bottom:13px;
	padding-right: 7px;
}

#loading{
	position:relative;
	left:300px;
}

.redirect-user{
	position:relative;
	width:700px;
	margin: 0 auto;
	height:auto;
	font-size: 1.4em;
	color: inherit;
	text-align:center;
}

.greeting-logo{
	width:130px;
	height: 130px;
}

.throbber{
	left:50%;
}

.index-spinner {
  position: absolute;
	top:50px;
  left: 50%;
  margin-left: -21.5px;
  margin-top: -21.5px;
  width: 40px;
  height: 40px;
  border-radius: 80px;
  border: 3px solid transparent;
  border-left-color: rgba(90, 126, 150, 0.2);
  border-right-color: rgba(90, 126, 150, 0.2);
  -webkit-animation: spinnit 1s linear infinite;
          animation: spinnit 1s linear infinite;
}

.index-spinner:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 30px;
  border-radius: 60px;
  border: 3px solid transparent;
  border-left-color: rgba(90, 126, 150, 0.5);
  border-right-color: rgba(90, 126, 150, 0.5);
  -webkit-animation: spinnit 0.5s linear infinite reverse;
          animation: spinnit 0.5s linear infinite reverse;
}

.index-spinner:before {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  width: 20px;
  height: 20px;
  border-radius: 40px;
  border: 3px solid transparent;
  border-left-color: rgba(90, 126, 150, 0.8);
  border-right-color: rgba(90, 126, 150, 0.8);
}

@-webkit-keyframes spinnit {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinnit {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.nav-opts{
  border-left: 1px solid #bdbdbd;
  padding-bottom:7px !important;
  z-index: 1000;
}

#primary_nav_wrap
{
  float:right;
}

#primary_nav_wrap ul
{
  list-style:none;
  position:relative;
  float:right;
  margin:0;
  color:black;
  padding:0 15px;
  font-size:12px;
  padding:0;
  box-shadow: 0px 0px 35px -12px rgba(0, 0, 0, 0.75);

}

#primary_nav_wrap ul a
{
  display:block;
  color:black;
  text-decoration:none;
  font-size: 12px;
  line-height:32px;
  padding:0 15px;
  font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
  position:relative;
  float:left;
  margin:0;
  padding:0;
}

#primary_nav_wrap ul li.current-menu-item
{
  background:#ddd
}

#primary_nav_wrap ul li:hover
{
  background:#f6f6f6
}

#primary_nav_wrap ul ul
{
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#fff;
  padding:0
}

#primary_nav_wrap ul ul li
{ 
  border:1px solid #bdbdbd;
  float:none;
  width:200px;
  
}

#delete-photo-btn{
  border-top: none !important;
}

#primary_nav_wrap ul ul a
{
  line-height:120%;
  padding:8px 12px
}

#primary_nav_wrap ul ul ul
{
  top:0;
  left:100%
}

#primary_nav_wrap ul li:hover > ul
{
  display:block
}