/*
* Custom variables
*/
$main-font: 'Lato', sans-serif;
$sub-font: 'Montserrat', sans-serif;
$fancy-font: 'Kaushan Script', cursive;
$font-size: 16px;
 
$black: #000;
$white: #FFF;
$grey: #585c65;
$mediumgrey: #9b9b9b;
$lightgrey: #eeeeee;
$blue: #3466a1;
 
$padding: 10px;
$margin: 10px;
 
/*
* Override Bootstrap variables
*/
$font-family-sans-serif: $main-font;

 * {
    position: relative;
    box-sizing: border-box;
}
h3 {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-size: 12px !important;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    color: darken($lightgrey, 20%);
}