
.new-photo-wrapper{
	width:600px;
	margin: 0 auto;
	margin-top:80px;
	box-shadow: 0px 0px 35px -12px rgba(0, 0, 0, 0.75);
}

.editor-background{
	background-color: white;
}

#adjustments{
	width:200px;
	position:relative;
	float:right;
	top:-722px;
	right: 40px;
}

#filters{
	width:810px !important;
	position:relative;
	height:auto;
	padding-left:7px;
}

#main-editor{
	margin: 0 auto;
	width:800px;
	position:relative;
	top: 60px !important;
}

#editor{
	position:relative;
	left:40px;
	border: 3px dashed #090909;
	height: 500px;
	width:500px;
	line-height: 470px;
	text-align: center;
	font-weight: bold;
}

#upload{
	position:relative;
	left:355px;
	top:-27px;
}

#cancel{
	position:relative;
	left: 355px;
	top:-27px;
}

.upload-wrapper{
	left:42px;
	position:relative;
 	top:20px;
}

.preview{
	height:500px;
	width:500px;
}
.new-photo{
	margin-top: 230px;
}
.liker{
  font-family: 'Montserrat', sans-serif;
}

.likes{
	top:-25px !important;
	font-size:0.9em;
}
.nav-tabs {
	border-bottom: 1px solid #dddddd;
}

.nav {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

#editor-controls {
	float: right;
	width: 500px;
}

#filters, #adjustments {
	padding-top: 9px;
}

.tab-content>.active {
	display: block;
}

.filter-preview {
	position: relative;
	cursor: pointer;
	display: inline-block;
	float: left;
	margin-top: 6px;
	margin-right: 15px;
	margin-bottom: 9px;
	text-align: center;
}

