.singular-photo-wrapper{
	position:relative;
	width:805px;
	margin: 0 auto;
	margin-top:70px;
	box-shadow: 0px 0px 35px -12px rgba(0, 0, 0, 0.75);
}
.red{
  color: red !important;
}
.edit-prof{
  box-shadow: 0px 0px 35px -12px rgba(0, 0, 0, 0.75);
}

.cmt-username{
  font-family: 'Montserrat', sans-serif;
}

.edit-profile-div{
  margin-top:85px;
}

.photo-page-comment-form{
	position:absolute;
	top:360px;
	right:4px;
	width:349px;
}

.delete-cmt{
  padding:3px;
  border: none;
  background-color: transparent;
}

.red-heart{
  color: #bf200d !important;
}

.delete-comment{
  float:right;
  color:gray;
}

.photo-time-ago, .photo-time-ago-long {
  color:silver;
  position:relative;
  font-family: 'Montserrat', sans-serif;
}

.photo-time-ago-long{
  top:36px;
  right:235px;
}

.photo-time-ago{
  top:36px;
  right:182px;
}

.author-username{
  position:absolute;
  right:55px;
  top:6px;
  font-weight:bold;
}
.private-pane{
	top:315px !important;
	width:360px !important;
  position:absolute;
	height: 40px;
	right:-1px;
	background-color: #EEEEEE;
	border: 1px solid rgba(0, 0, 0, 0.1);
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.adjustment-label {
  display: inline-block;
  width: 75px;
}

.long-desc{
  width:270px !important;
  position:relative;
  top:-9px;
}

.short-profile-name{
  position:relative;
  top:17px;
}

.short-desc{
  width:280px;
  position:relative;
  top:10px;
}

.filter-preview span {
  position: absolute;
  top: 0px;
  left: 0px;
  display: inline-block;
  width: 100%;
  background: rgba(0,0,0,0.5);
  color: white;
  font-size: 0.85em;
  z-index:100;
}

.follow-info-content {
  float: left;
  width: 75px;
  text-align: center;
  border-right: 1px solid silver;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.feed-item-favorite-bar {
  width: 399px !important;
  position:relative;
  top:-13px;
  right:16px;
  height: 40px;
  background-color: #EEEEEE;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  box-sizing: border-box;
}

.feed-item-fav-btn {
  float: left;
  border-right: 1px solid rgba(0,0,0,0.1);
}

.fav-btn, .actions-btn {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding:10px;
  padding-left:11px;
  padding-bottom: 7px;
  color: silver;
  font-size: 1.5em;
  transition: color 200ms, background-color 200ms;
}

.like-button{
	display: inline;

}

#follow-info {
  float: right;
  position: relative;
  left:280px;
  top:40px;
  background: linear-gradient(#eee, #f0f0f0, #f0f0f0, #eee, #eee, #eee, #eee, #ddd);
  border: 1px solid silver;
  border-radius: 6px;
  margin-top: 29px;
  padding: 1px;
}

.following{
	border-right:none !important;
}

.main-photo{
	float:left;
}

.comment-details-pane {
	float:right;
	width:360px;
	height:402px;
	position:relative;
}

.back-link{
	position:absolute;
	margin-top:5px;
	left:670px;
}

.photo-display{
  position:absolute;
  height:455px;
	padding-top:14px !important;
	padding-bottom:30px !important;
	padding-left:15px !important;
	padding-right:15px !important;
}

.delete-photo-btn{
	margin-top: 5px;
	margin-bottom:-5px !important;
	text-shadow: 0 1px 1px #1c5380;
  background-image: -webkit-linear-gradient(top,#6f97b6,#3f729b);
  border-radius: 6px;
  padding:5px;
  padding-left:42px;
  padding-right:42px;
  font-size:0.8em;
  color:white;
  font-family: 'Montserrat', sans-serif;
}


.heart {
	font-size: 152px;
	text-align: center;
	color: #bf200d;
	padding: 0;
	margin: 0;
  position: absolute;
  z-index: 10;
  margin:0;

}

.pulse1 {
	-webkit-animation: pulse1 1s linear infinite;
	-moz-animation: pulse1 1s linear infinite;
	-ms-animation: pulse1 1s linear infinite;
	animation: pulse1 1s linear infinite;
}

@keyframes "pulse1" {
 0% {
    color: rgba(165, 25, 25, 1);
 }
 90% {
    color: rgba(255,0,0,0.0);
 }
 100% {
    color: rgba(255,0,0,1.0);
 }

}

@-moz-keyframes pulse1 {
 0% {
   color: rgba(165, 25, 25, 1);
 }
 90% {
   color: rgba(255,0,0,0.0);
 }
 100% {
   color: rgba(255,0,0,1.0);
 }

}

@-webkit-keyframes "pulse1" {
 0% {
   color: rgba(165, 25, 25, 1);
 }
 90% {
   color: rgba(255,0,0,0.0);
 }
 100% {
   color: rgba(255,0,0,1.0);
 }

}

@-ms-keyframes "pulse1" {
 0% {
   color: rgba(165, 25, 25, 1);
 }
 90% {
   color: rgba(255,0,0,0.0);
 }
 100% {
   color: rgba(255,0,0,1.0);
 }

}

.pulse2 {
	-webkit-animation: pulse2 1s linear infinite;
	-moz-animation: pulse2 1s linear infinite;
	-ms-animation: pulse2 1s linear infinite;
	animation: pulse2 1s linear infinite;
}

@keyframes "pulse2" {
 0% {
    -webkit-transform: scale(1.1);
   	-moz-transform: scale(1.1);
   	-o-transform: scale(1.1);
   	-ms-transform: scale(1.1);
   	transform: scale(1.1);
 }
 50% {
    -webkit-transform: scale(0.8);
   	-moz-transform: scale(0.8);
   	-o-transform: scale(0.8);
   	-ms-transform: scale(0.8);
   	transform: scale(0.8);
 }
 100% {
    -webkit-transform: scale(1);
   	-moz-transform: scale(1);
   	-o-transform: scale(1);
   	-ms-transform: scale(1);
   	transform: scale(1);
 }

}

@-moz-keyframes pulse2 {
 0% {
   -moz-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -moz-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -moz-transform: scale(1);
   transform: scale(1);
 }

}

@-webkit-keyframes "pulse2" {
 0% {
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -webkit-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -webkit-transform: scale(1);
   transform: scale(1);
 }

}

@-ms-keyframes "pulse2" {
 0% {
   -ms-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -ms-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -ms-transform: scale(1);
   transform: scale(1);
 }

}
