
.photo-feed{
	position:relative;
	width:90%;
	top:60px;
	margin: 0 auto;
}

.photo-show{
	width: 640px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 20px;
}

.comment-form{
	margin-top:15px;
	margin-bottom: -13px;
}
.photo-author-photo{
	float:left;
	margin-right:50px;
	position: relative;
}

.photo-wrapper{
	margin-top:10px;
	margin: 0 auto;
	display: inline-block;
	width:50%;
	min-width: 600px;

}

.author-username{
	position:absolute;
	right:60px;
	top:10px;
	font-weight:bold;
}
.timelineCenter {
	background: #e0e1e2 url(//d36xtkk24g8jdx.cloudfront.net/bluebar/be7c37a/images/shared/noise-2.png);
	border: 1px solid rgba(0,0,0,.1);
	border-width: 0 1px;
	width: 470px;
	margin-top:-30px;
	padding: 16px 32px;
	margin-left: 70px;
}

.feed-photo-img{
	width:400px;
	height:400px;
	-webkit-box-shadow: 0px 0px 35px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 35px -12px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 35px -12px rgba(0,0,0,0.75);
}

.photo-details{
	position: relative;
	top:8px;
	left:150px;
	margin: 0 auto;
}
.comment-profile-photo{
	width:30px;
	height:30px;
	margin-top:4px;
}

.photo-likes{
	margin-bottom:10px;
}

.likes{
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
	width:99.8%;
}