@import url(//fonts.googleapis.com/css?family=Amatic+SC);



/* Grow */
@keyframes breathe {
    50% {
        transform: scale(0.75, 0.75);
        color: white;
    }
}

/* Loader */
.loader {
    display: inline-block;
    font: 7em "Amatic SC";

    text-transform: uppercase;
    position:relative;
    top:-500px;
    left:145px;
		background-color: rgba(0, 0, 0, 0.4);
}



/* Letters */
.letter {
    display: inline-block;
    color: white;
		text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
    animation: infinite breathe 4s;
    transform: translateZ(0);
}
.letter:nth-of-type(1),
.letter:nth-of-type(10) {
    animation-delay: 0.3s;
}
.letter:nth-of-type(2),
.letter:nth-of-type(9) {
    animation-delay: 0.225s;
}
.letter:nth-of-type(3),
.letter:nth-of-type(8) {
    animation-delay: 0.15s;
}
.letter:nth-of-type(4),
.letter:nth-of-type(7) {
    animation-delay: 0.075s;
}

.author-details{
	padding:6px;
	width:358px;
	position:relative;
	text-align: center;
	right:15px;
	top:-5px;
	background-color: rgba(0, 0, 0, 0.04);
	margin-bottom:5px;
  letter-spacing: 1px;
	font-size:0.85em;
}

.photo-feed{
	position:relative;
	width:90%;
	top:60px;
	margin: 0 auto;
}

.gender-sign{
	font-size: 0.8em;
	position: relative;
	right:7px;
}

.merp{
	position:relative;
	margin-top:-40px;
}

.container.container-fluid{
	height:30px !important;
}

.count{
	position:relative;
	font-size:1.2em !important;
	font-weight:bold;
	top:2px;
}

.stat-text{
	font-family: 'Montserrat', sans-serif;
	position:relative;
	top:-5px;
	font-size:0.9em;
	color: #7d7d7d;
}

.feed-item-favorites {
	display: block;
	height: 100%;
	box-sizing: border-box;
	padding: 10px;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
}

.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.feed-item-favorite-bar {
	width: 100%;
	height: 40px;
	background-color: #EEEEEE;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	box-sizing: border-box;
}
.feed-item-fav-btn, .feed-item-actions-btn {
	display: table;
	color: rgb(225, 0, 0) !important;
}
	
.feed-item-actions-btn {
  float: right;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}

.feed-item-fav-btn, .feed-item-actions-btn {
  display: table;
  
  cursor: pointer;

  width: 40px;
  height: 100%;

  background-color: #EEEEEE;
}
.fav-btn:hover, .actions-btn:hover, .nav-opts:hover {
  color: gray;

  text-decoration: none;

  background: rgba(0, 0, 0, 0.1) !important;
}

.feed-item-fav-btn, .feed-item-actions-btn {
	display: table;
	color: rgb(225, 0, 0) !important;
}
	
.feed-item-actions-btn {
  float: right;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;

}

.feed-item-actions-btn {
  display: table;
  cursor: pointer;
  width: 40px;
  height: 30px !important;
  background-color: #EEEEEE;
}

.actions-btn{
	height:39px !important;
	padding: 0 !important;
	border: none !important;
	border-bottom: 1px solid #bdbdbd !important;
	padding-bottom:-3px !important;
}

.like-btn{
	// border: 1px solid #bdbdbd !important;
	padding: 5px 10px;
	border: none;
	border-right: 1px solid #bdbdbd;
	border-left: 1px solid #bdbdbd;
	background-color: #EEEEEE;
	font-size: 1.4em;
color: silver;
}

.fav-btn:hover, .like-btn:hover, .actions-btn:hover, .nav-opts:hover {
  color: gray;
  text-decoration: none;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
}

.photo-show{
	width: 640px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 20px;
}

.comment-form{
	margin-top:15px;
	margin-bottom: -13px;
}

.photo-author-photo{
	float:left;
	margin-right:50px;
	position: relative;
}

.photo-wrapper{
	margin-top:10px;
	margin: 0 auto;
	display: inline-block;
	width:50%;
	min-width: 600px;

}
.mid-logo{
	width: 148px;
	height: 42px;
}
.timelineCenter {
	background: #e0e1e2 url(//d36xtkk24g8jdx.cloudfront.net/bluebar/be7c37a/images/shared/noise-2.png);
	border: 1px solid rgba(0,0,0,.1);
	border-width: 0 1px;
	width: 470px;
	margin-top:-30px;
	padding: 16px 32px;
	margin-left: 70px;
}

.feed-photo-img{
	position:relative;
	top:-20px;
	width:400px;
	border: 1px solid #bdbdbd;
	height:400px;
	-webkit-box-shadow: 0px 0px 35px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 35px -12px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 35px -12px rgba(0,0,0,0.75);
}

.navbar-btn{
	padding:15px;
}

.photo-details{
	position: relative;
	top:8px;
	left:150px;
	margin: 0 auto;
}

.comment-profile-photo{
	width:30px;
	height:30px;
	margin-top:4px;
}

.photo-likes{
	margin-bottom:10px;
}


.likes{
	margin: 0 auto;
	width:240px;
	position:relative;
	top:-27px !important;
	right:48px !important;
}

.ind-likes{
	right:28px !important;
}

.like-heart{
	color:red;
	font-size:300px;
	position:relative;
	top:-380px;
	right:395px;
}