.users-wrapper{
	margin-top:100px;
}

.users-show{
	width: 700px;
	margin: 0 auto;
}

.header-logo{
	height:27px;
	width:27px;
}
.profile-name{
	position:relative;
	top:7px;
}
.home-icon{
	float:left;
	padding-left:20px;
	padding-right:20px;
	position:relative;
	padding:6px;
	top:-3px;
	right:90px;
	border-right: 1px solid #06365f;
	border-right-color: rgba(0,0,0,.1);
	box-shadow: inset 1px 0 0 rgba(255,255,255,.1);
	text-shadow: 0 1px 0 rgba(3,27,47,.5);
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.profile-photo{
	width:50px !important;
	height:50px !important;
}
.photo-stats{
	position:relative;
	right:150px;
	-webkit-box-shadow: 0px 0px 35px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 35px -12px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 35px -12px rgba(0,0,0,0.75);
	top:-50px;
	width:400px;
}

a{
	text-decoration: none !important;
}

.logo-link{
	position:relative;
	right:50px;
	color:white !important;
	text-decoration:none !important;
	font-family: 'Billabong', cursive !important;
	font-size:1.2em;
}

.logo-link:hover{
	color:white;
	text-decoration: none;
}

.logo-link:active{
	text-decoration:none !important;     
}

.logo-link::visited{
	color:white;
}

.navbar{
	background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/be7c37a/images/shared/noise-2.png),-webkit-linear-gradient(top,#517fa4,#306088);
	background-color: #517fa4;
	height:43px !important;
}

ul{
	list-style: none;
}
.user-counts-list{
	height:80px !important;
}

.feed-header{
	margin-top:-95px;
}

.photo-caption{
	position:relative;
	left:155px;
	margin: 0 auto;
	margin-top:10px;
}

.gallery-image{
	height: 100px !important;
	width: 100px !important;
	margin: 16px !important;
}

.container{
	width: 700px !important;
}