.users-wrapper{
	margin-top:100px;
}

.users-show{
	width: 700px;
	margin: 0 auto;
}

.profile-photo{
	width:100px !important;
	height:100px !important;
}
.logo-link{
	color:white;
	text-decoration:none;
}

.logo-link:hover{
	color:white;
	text-decoration: none;
}

ul{
	list-style: none;
}
.user-counts-list{
	height:80px !important;
}

.feed-header{
	margin-top:-95px;
}

.photo-caption{
	position:relative;
	left:155px;
	margin: 0 auto;
	margin-top:10px;
}

.gallery-image{
	height: 100px;
	width: 100px;
}

.container{
	width: 700px !important;
}