.users-wrapper{
	margin-top:100px;
}

.users-show{
	width: 700px;
	margin: 0 auto;
}

#chars{
	margin-top:-11px;
	margin-bottom:5px;
}

.header-logo{
	height:27px;
	width:27px;
	margin-right:2px;
}

.profile-name{
	position:relative;

}

.home-icon, .explore-icon, .new-icon{
	float:left;
	padding-left:20px;
	padding-right:20px;
	position:relative;
	padding:5px;
	border-right: 1px solid #06365f;
	border-right-color: rgba(0,0,0,.1);
	box-shadow: inset 1px 0 0 rgba(255,255,255,.1);
	text-shadow: 0 1px 0 rgba(3,27,47,.5);
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-size: 1.5em;
}

.profile-photo{
	width:50px !important;
	height:50px !important;
}

.explore-icon{
	position:relative;
	top:-3px;
	padding-bottom:8px;
}

.new-icon{
	position:relative;
}
.photo-stats{
	position:relative;
	right:150px;
	-webkit-box-shadow: 0px 0px 35px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 35px -12px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 35px -12px rgba(0,0,0,0.75);
	top:-90px;
	width:400px;
}

.list-group-item{
	border: 1px solid #bdbdbd !important;
}

a{
	text-decoration: none !important;
}

.logo-link{
	position:relative;
	right:50px;
	top:-1px;
	color:white !important;
	text-decoration:none !important;
	font-family: 'Billabong', cursive !important;
	font-size:1.2em;
}

.logo-link:hover{
	color:white;
	text-decoration: none;
}

.logo-link:active{
	text-decoration:none !important;     
}

.logo-link::visited{
	color:white;
}

.navbar{
	width: 100%;
	height:42px !important;
	background: linear-gradient(#6487af, #325f91);
	box-shadow: 0 0 9px 2px rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	color: white;
	z-index: 1000;
}

ul{
	list-style: none;
}
.user-counts-list{
	height:80px !important;
}

.feed-header{
	margin-top:-95px;
}

.photo-caption{
	position:relative;
	left:155px;
	margin: 0 auto;
	margin-top:10px;
}

.gallery-image{
	height: 100px !important;
	width: 100px !important;
	margin: 16px !important;
}

.container{
	width: 700px !important;
}